.Container{
    max-width: 1120px;
    margin: 6rem auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    h2{
        font-size: 2rem;
        line-height: 4.5rem;
        font-weight: 900;
        color: white;

        span{
            font-size: 2rem;
            line-height: 4.5rem;
            font-weight: 900;
            color: var(--blue-900);
        }
    }
    span{
        font-size: 1rem;
        line-height: 2.25rem;
        color: white;
    }
    
    button{
        background-color: var(--blue-900);
        border: 0;
        padding: 1rem 1.8rem;
        margin-top: 2.5rem;
        border-radius: 7px;
        color: white;
        font-weight: bold;
        transition: 0.4s;

        &:hover{
            cursor: pointer;
            color: var(--blue-900);
            background-color: rgba(255, 255, 255, 0.075);
        }
    }
}
